{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h1>About</h1>
    <hr>
    <p>My name is Vitalii Synytskyi, and CodeFlow is my project aimed to create a platform for asking and answering programming related questions. </p>
    <p>Feel free to contact me through Telegram: <a href="https://t.me/howery1337">https://t.me/howery1337</a></p>
    <p>You can also reach out to me via email: <a href="mailto:howery1337@gmail.com">howery1337@gmail.com</a></p>
    <p>Check out the project's Github repository: <a href="https://github.com/VitaliySynytskyi/CodeFlow">https://github.com/VitaliySynytskyi/CodeFlow</a></p>
  </div>
{% endblock %}
