<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} CodeFlow</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}">
    {% block styles %}
      <style>
        body {
          min-height: 100vh;
          position: relative;
        }

        .footer {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 60px;
          line-height: 60px;
          background-color: #343a40;
          color: #fff;
        }
      </style>
    {% endblock %}
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('home') }}">CodeFlow</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('home') }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('about') }}">About</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
          </form>          
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <span class="navbar-text mr-3" style="color: #FFFFFF;">
                Vitalii Synytskyi
              </span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login') }}">Sign In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('register') }}">Sign Up</a>
            </li>
          </ul>
        </div>
      </nav>
    <div class="container mt-5">
      {% block content %}
      {% endblock %}
    </div>
    <div class="footer">
      <div class="container">
        <p class="text-center mb-0">&copy; 2023 CodeFlow. All rights reserved.</p>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
