{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to CodeFlow</h1>
      <p class="lead">Get answers to your programming questions.</p>
      <hr class="my-4">
      <p>Join the community of developers.</p>
      {% if current_user.is_authenticated %}
      <a class="btn btn-primary btn-lg" href="blog" role="button">Get Started</a>
      {% else %}
      <a class="btn btn-primary btn-lg" href="login" role="button">Get Started</a>
      {% endif %}
    </div>
  </div>
{% endblock %}
